.conteudo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .conteudo {
        width: 750px
    }
}

@media (min-width:992px) {
    .conteudo {
        width: 970px
    }
}

@media (min-width:1200px) {
    .conteudo {
        width: 1170px
    }
}

#header .top-esquerda {
    margin-top: -20px;
    /* overflow: hidden;
    zoom: 1; */
    padding-right: 10px;
}
#header .top-direita {
    margin-top: 10px;
    overflow: hidden;
    zoom: 1;
    padding-right: 10px;
    display: inline-block;
}

.lista{
    text-align: center; 
 }
 
 #header {
     padding: 30px 0;
     height: 110px;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     transition: all 0.5s;
     z-index: 997;
     background-color: #fff;
     box-shadow: 5px 0px 15px #c3c3c3;
 }
 #header #logo h1 {
     font-size: 34px;
     margin: 0;
     padding-top: 0;
     padding-bottom: 0;
     line-height: 1;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     letter-spacing: 3px;
     
 }
 #header #logo h1 a, #header #logo h1 a:hover {
     color: #000048;
     padding-left: 10px;
     border-left: 4px solid #2f78c4;
 }
 
 .grupo-2 {
     font-family: 'Roboto', sans-serif;
     color: #2f78c4;
     font-size: 20px;
     margin: -20px 0 0 0;
     padding-left: 10px;
     padding-top: 0;
     border-left: 4px solid #2f78c4;
 }
 
 #nav-menu-container {
     float: right;
     margin: -50px;
 }
 .nav-menu > li {
     margin-left: 10px;
 }
 .nav-menu > li {
     float: left;
 }
 .nav-menu li {
     position: relative;
     white-space: nowrap;
 }
 .nav-menu, .nav-menu * {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
     color: #060694;
 }
 .header-scrolled .nav-menu a {
     color: black;
 }
 .nav-menu li:hover > a, .nav-menu > .menu-active > a {
     color: #1125a8;
 }
 .nav-menu a {
     padding: 0 8px 10px 8px;
     text-decoration: none;
     display: inline-block;
     color: #000;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 13px;
     text-transform: uppercase;
     outline: none;
 }
 .subtitulo {
     font-size: 47px;
     color: #000048;
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
 }
 
 @media (max-width: 768px){
 #nav-menu-container {
     display: none;
 }
 
 }
 .direita{
    text-align: left;
    width: 80%;
    margin:auto;
    
 }
 .missao{
    width: 50%;
    margin:auto;
    text-align: left;
    font-size: 25px;
 }
 
 section {
     padding: 60px 0;
 }
 
 section .section-title {
     text-align: center;
     color: #007b5e;
     margin-bottom: 50px;
     text-transform: uppercase;
 }

 #btn-contato{
    color: white;
    text-decoration: none;
 }

 #footer {
     background: #4277a5 !important;
 }
 #footer h5{
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     padding-bottom: 6px;
     margin-bottom: 20px;
     color:#ffffff;
 }
 #footer a {
     color: #ffffff;
     text-decoration: none !important;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
 }
 #footer ul.social li{
     padding: 3px 0;
 }
 #footer ul.social li a i {
     margin-right: 5px;
     font-size:25px;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
 }
 #footer ul.social li:hover a i {
     font-size:30px;
     margin-top:-10px;
 }
 #footer ul.social li a,
 #footer ul.quick-links li a{
     color:#ffffff;
 }
 #footer ul.social li a:hover{
     color:#eeeeee;
 }
 #footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
 }
 #footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
 }
 #footer ul.quick-links li a i{
     margin-right: 5px;
 }
 #footer ul.quick-links li:hover a i {
     font-weight: 700;
 }
 
 @media (max-width:767px){
     #footer h5 {
     padding-left: 0;
     border-left: transparent;
     padding-bottom: 0px;
     margin-bottom: 10px;
 }
 }
 .grupo-nome{
    text-align: left;
 }
 
 .logoG2{
     border-radius: 2px;  
     width: 80px;
     margin: -35px 7px 10px 5px;
 }

 .formulario{
    width: 500px;
    margin-left: 2px;
 }
 .form-assunto{
    width: 480px;
 }