.lista{
    text-align: center; 
 }
 
 #header.header-scrolled {
     background: #fff;
     padding: 20px 0;
     height: 72px;
     transition: all 0.5s;
 }
 #header {
     padding: 30px 0;
     height: 110px;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     transition: all 0.5s;
     z-index: 997;
     background-color: #fff;
     box-shadow: 5px 0px 15px #c3c3c3;
 }
 #header #logo h1 {
     font-size: 34px;
     margin: 0;
     padding-top: 0;
     padding-bottom: 0;
     line-height: 1;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     letter-spacing: 3px;
 }
 #header #logo h1 a, #header #logo h1 a:hover {
     color: #000048;
     padding-left: 10px;
     border-left: 4px solid #2f78c4;
 }
 
 .grupo-2 {
     font-family: 'Roboto', sans-serif;
     color: #2f78c4;
     font-size: 20px;
     margin: -20px 0 0 0;
     padding-left: 10px;
     padding-top: 0;
     border-left: 4px solid #2f78c4;
 }
 
 #nav-menu-container {
     float: right;
     margin: 0;
 }
 .nav-menu > li {
     margin-left: 10px;
 }
 .nav-menu > li {
     float: left;
 }
 .nav-menu li {
     position: relative;
     white-space: nowrap;
 }
 .nav-menu, .nav-menu * {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
     color: #060694;
 }
 .header-scrolled .nav-menu a {
     color: black;
 }
 .nav-menu li:hover > a, .nav-menu > .menu-active > a {
     color: #1125a8;
 }
 .nav-menu a {
     padding: 0 8px 10px 8px;
     text-decoration: none;
     display: inline-block;
     color: #000;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 13px;
     text-transform: uppercase;
     outline: none;
 }
 #mobile-nav-toggle {
     display: inline;
 }
 #mobile-nav-toggle {
     position: fixed;
     right: 0;
     top: 0;
     z-index: 999;
     margin: 20px 20px 0 0;
     border: 0;
     background: none;
     font-size: 24px;
     display: none;
     transition: all 0.4s;
     outline: none;
     cursor: pointer;
 }
 #mobile-body-overly {
     width: 100%;
     height: 100%;
     z-index: 997;
     top: 0;
     left: 0;
     position: fixed;
     background: rgba(0, 0, 0, 0.7);
     display: none;
 }
 body.mobile-nav-active #mobile-nav {
     left: 0;
 }
 #mobile-nav {
     position: fixed;
     top: 0;
     padding-top: 18px;
     bottom: 0;
     z-index: 998;
     background: rgba(0, 0, 0, 0.8);
     left: -260px;
     width: 260px;
     overflow-y: auto;
     transition: 0.4s;
 }
 #mobile-nav ul {
     padding: 0;
     margin: 0;
     list-style: none;
 }
 #mobile-nav ul li {
     position: relative;
 }
 #mobile-nav ul li a {
     color: #fff;
     font-size: 13px;
     text-transform: uppercase;
     overflow: hidden;
     padding: 10px 22px 10px 15px;
     position: relative;
     text-decoration: none;
     width: 100%;
     display: block;
     outline: none;
     font-weight: 700;
     font-family: "Montserrat", sans-serif;
 }
 #mobile-nav ul .menu-has-children i.fa-chevron-up {
     color: #18d26e;
 }
 #mobile-nav ul .menu-has-children i {
     position: absolute;
     right: 0;
     z-index: 99;
     padding: 15px;
     cursor: pointer;
     color: #fff;
 }
 #mobile-nav ul .menu-item-active {
     color: #18d26e;
 }
 #mobile-nav ul li li {
     padding-left: 30px;
 }
 
 .menu-has-children ul
 {display: none;}
 
 .subtitulo {
     font-size: 47px;
     color: #000048;
     font-weight: 700;
     font-family: 'Roboto', sans-serif;
 }
 
 @media (max-width: 768px){
 #nav-menu-container {
     display: none;
 }
 
 #mobile-nav-toggle {
     display: inline;
 }
 }
 
 /* Footer */
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 section {
     padding: 60px 0;
 }
 
 section .section-title {
     text-align: center;
     color: #007b5e;
     margin-bottom: 50px;
     text-transform: uppercase;
 }
 #footer {
     background: #000048 !important;
 }
 #footer h5{
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     padding-bottom: 6px;
     margin-bottom: 20px;
     color:#ffffff;
 }
 #footer a {
     color: #ffffff;
     text-decoration: none !important;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
 }
 #footer ul.social li{
     padding: 3px 0;
 }
 #footer ul.social li a i {
     margin-right: 5px;
     font-size:25px;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
 }
 #footer ul.social li:hover a i {
     font-size:30px;
     margin-top:-10px;
 }
 #footer ul.social li a,
 #footer ul.quick-links li a{
     color:#ffffff;
 }
 #footer ul.social li a:hover{
     color:#eeeeee;
 }
 #footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
 }
 #footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
 }
 #footer ul.quick-links li a i{
     margin-right: 5px;
 }
 #footer ul.quick-links li:hover a i {
     font-weight: 700;
 }
 
 @media (max-width:767px){
     #footer h5 {
     padding-left: 0;
     border-left: transparent;
     padding-bottom: 0px;
     margin-bottom: 10px;
 }
 }
 
 .logoG3{
     border-radius: 2px;  
     width: 80px;
     margin: -17px 7px 10px 5px;
     
 }